/*Footer Styling*/

footer{
	background-color:#9D7189;
	margin:0em;
	padding:0em;
	font-size:.5em;
	text-align:center;
	height: 14em;
	
	margin-left:0em;
	margin-right:0em;
	margin-top:2em;
	margin-bottom :0em;
	
	
	}
footer img{
	height:25px;
	width:25px;
	
}
footer .links{
	float:left;
	margin-top:1em;
	margin-bottom:1em;

}
footer .links a{
	decoration:none;
	font-color:black;
	
}
footer li{
	padding-top:1em;
	
}

footer a{
	text-decoration:none;
}
.social{
	float:right;
	margin-right:5em;
}