*{
	font-family:tahoma;
	font-size:1em;
}



/* body styling */
body{
	background-color:#BBB3DA;
}


/* -----------------Main and OtherStyling  ------------------*/
#main, .other, .auxContent{
	margin-left:5em;
	margin-right:35em;
	
}



/* --------------------Feature content Styling ----------------------	*/
.featureContent{
	background-color:#6E6788;
	height:400px;
	
	
	
}
#mainElement{
	float:left;
	height:300px;
	vertical-align:auto;
	width:30em;
}
#mainElement figure{
	position:relative;
	width:400px;
	vertical-align:center;
	margin-bottom:4em;
}
#mainElement figcaption{
	height:2em;
	font-size:1.5em;
	width:400px;
	position:absolute;
	bottom:0px;
	
}
.featureContent figcaption{
	background-color:black;
	opacity:0.7;
	color:white;
}
.featureContent #mainElement img{
	max-width:100%;
	height:auto;
	display:block;
}


/* ----------------- Aux Content Styling -------------------*/
.auxContent figure{
	position:relative;
	width:215px;
	vertical-align:center;
	margin-bottom:1em;
}

.auxContent img{

	height:125px;
	width:215px;
	vertical-align:bottom;
	margin:0em;
}

.auxContent{
	margin-top:4em;
	padding:0em;
}
.auxContent table, th, td{
	border:0em;
	margin:0em;
	border-collapse:collapse;
	border: 1px solid black;
}

.auxContent figcaption{
	margin:0em;
	padding:0em;
	height:1em;
	font-size:.75em;
	width:215;
	position:absolute;
	bottom:0px;
	background-color:black;
	opacity:0.7;
	color:white;
}

/*------------------- MEMES Content Styling---------------------*/
.memes{
	margin-top:4em;
	overflow: auto;
	margin-bottm:4em;	
	background-color:#6E6788;
}



/*------------------- Other Content Styling---------------------*/
.other{
	margin-top:4em;
	overflow: auto;
	margin-bottm:4em;	
	background-color:#6E6788;
}

.aux-link{
	decoration:none;
	font-color:black;
	text-decoration:none;
}


.other img{
	width:250px;
	
}


.other figure{
	float:left;
	position:relative;
}
div .entry{
	overflow:auto;
}
.linkbutton{
	background-color:#69A89E;
	text-decoration:none;
	color:#BBB3DA;
}



/*Footer Styling*/

footer{
	background-color:#9D7189;
	margin:0;
	padding:0;
	font-size:.5em;
	text-align:center;
	height: 8em;
	
	margin-left:5em;
	margin-right:5em;
	margin-top:2em;
	margin-bottom :2em;
	
	
	}
footer img{
	height:25px;
	width:25px;
	
}
footer .links{
	float:left;
	
}
footer .links a{
	decoration:none;
	font-color:black;
	
}
footer a{
	text-decoration:none;
}



