/*------------------- Media Content Styling---------------------*/

.first-block{
	margin:5%;
	display:block;
	background-color:#E0C9DD;
	
	
}

.form-wrapper{
	text-align:center;
	padding:1em;
	height:30%;
	margin-bottom:5%;
}


.media-column{
	/*height:130%;*/
	height:100%;
	width:25%;
	background-color:#6E6788;
	float:right;
	margin-right:5em;
	
}

.twitter-feed{
	
	height:100%;
	overflow:scroll;
	width:90%;
	margin-left:5%;
}

.feed-wrapper{
	height:60%;
}

.create-wrapper{
	text-align:center;

}

.create-wrapper td{
	width:100%;	
	
}


