.wrapper{
	min-height:800px;
	
}


.results{
	background-color:#E0C9DD;
	margin-left:5em;
	margin-right:35em;
	
}
.entry{
	padding:1em;
}

.results img{
	width:250px;
	
}


.results figure{
	float:left;
	position:relative;
}




.Sort{
	margin-left:5em;
	margin-right:35em;
	background-color:#E0C9DD;
}


div .entry {
	border-top: 2px solid #ff8800;
	overflow: auto;
	margin:2em;
}

.linkbutton{

	border: none;
	color: white;
	padding:.5em;
	float: right;
	border-radius:1em;
	background-color:#69A89E;
	text-decoration:none;
	color:black;
	
}

.entry figure{
	float: left;
	position: relative;
}

.entry img{
	width:25%;
}


.overlayed{
	
	position: absolute;
	top:0px;
	left:0px;
	width:100%;


}

figcaption{

	
	background:black;
	opacity: 0.6;
	color: white;
	position:absolute;
	bottom:3px;
	left:0px;
	width: 147px;
	padding-left:.2em;
}